<%- include('../partials/head') %>
    <h1>New Trip</h1>
    <form action="/listings" method="POST" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" required>
        <label for="location">Location</label>
        <input type="text" name="location" id="location" required>
        <label for="description">Description</label>
        <textarea name="description" id="description" required></textarea>
        
        <label for="image">Upload image:</label>
        <input type="file" name="image" id="image" accept="image/*" required >
        <label for="titleImageUrl">Title for image</label>
        <input type="text" name="titleImageUrl" id="titleImageUrl" required>

        <button type="submit">Create New</button>
    </form>
</body>
</html>